<ion-header>

    <ion-toolbar color="danger">
      <ion-img src="..\assets\icon\ajcinemas.png"></ion-img>
  
      <ion-icon name="arrow-back" (click)="dashboard()"></ion-icon>
      
      
  </ion-toolbar>
  
  </ion-header>
  
  <ion-content>
  
      <h1>Latest Movies</h1>
  
    <img  src="..\assets\icon\capmarvel.jpg" style="width : 25%; height : 75%">
    <h3>
      CAPTAIN MARVEL (PG)
    </h3>
    <h4>Brie Larson is Captain Marvel in an all new MCU Adventure.</h4>
    <h4>Release Date: 08/03/2019 </h4>
    <h2>Viewing Times: [15:30(3D)]   [17:00]   [19:20(3D)]   [22:15]</h2>
    <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
    <br> <br>
  
    <img  src="..\assets\icon\dumbo.jpg" style="width : 25%; height : 75%">
    <h3>
      DUMBO (U)
    </h3>
    <h4>Disney and visionary director Tim Burton, the all-new grand live-action adventure “Dumbo” expands on the beloved classic story.</h4>
    <h4>Release Date: 29/03/2019 </h4>
    <h2>Viewing Times: [16:50]   [17:10(3D)]   [18:20]</h2>
    <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
    <br> <br>
  
    <img  src="..\assets\icon\shazam.jpg" style="width : 25%; height : 75%">
    <h3>
      SHAZAM (12a)
    </h3>
    <h4>A new hero comes to the DCEU. Just say the word ..... </h4>
    <h4>Release Date: 15/03/2019 </h4>
    <h2>Viewing Times: [18:05]   [19:45]   [21:25]   [23:05]</h2>
    <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
    <br> <br>
  
    <img  src="..\assets\icon\hellboy.png" style="width : 25%; height : 75%">
    <h3>
      HELLBOY (18+)
    </h3>
    <h4>Hellboy is back, and he’s on fire.</h4>
    <h4>Release Date: 11/04/2019 </h4>
    <h2>Viewing Times: [14:05]   [15:50(3D)]   [17:30]</h2>
    <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
    <br> <br>
  
    <img  src="..\assets\icon\greta.jpg" style="width : 25%; height : 75%">
    <h3>
      GRETA (18+)
    </h3>
    <h4>Escape Greta ? Everyone needs a friend. Newest Movie to the Horror Genre</h4>
    <h4>Release Date: 19/04/2019 </h4>
    <h2>Viewing Times: [19:05]   [20:10]   [21:45]   [23:45]</h2>
    <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
    <br> <br>
  
    <img  src="..\assets\icon\wildrose.jpg" style="width : 25%; height : 75%">
    <h3>
      Wild Rose (16)
    </h3>
    <h4>Jessie Buckley delivers a star-making performance as Rose-Lynn</h4>
    <h4>Release Date: 12/04/2019 </h4>
    <h2>Viewing Times: [17:40]   [19:30]   [21:00]   [22:30]</h2>
    <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
    <br>
  
  </ion-content>
