<ion-header>
    <ion-toolbar color="danger">
        <ion-img src="..\assets\icon\ajcinemas.png"></ion-img>
        <ion-icon name="arrow-back" (click)="dashboard()"></ion-icon>
        
    </ion-toolbar>
</ion-header>

<ion-content>

        <h1>Upcoming Movies</h1>

        <img  src="..\assets\icon\endgame.jpg" style="width : 25%; height : 75%">
        <h3>
          AVENGERS: END GAME (12)
        </h3>
        <h4>Release Date: 26/04/2019 </h4>
        <h2>MIDNIGHT LAUNCH: 00:01</h2>
        <ion-button color="danger" (click)="booktickets()">Pre Order Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\ffh.jpg" style="width : 25%; height : 75%">
        <h3>
          SPIDERMAN: FAR FROM HOME (PG)
        </h3>
        <h4>Release Date: 5/07/2019 </h4>
        <h2>MIDNIGHT LAUNCH: 00:001 </h2>
        <ion-button color="danger" (click)="booktickets()">Pre Order Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\sw.jpg" style="width : 25%; height : 75%">
        <h3>
          STAR WARS: RISE OF SKYWALKER (PG)
        </h3>
        <h4>Release Date: December 2019 </h4>
        <br> <br>
      
        <img  src="..\assets\icon\lionking.jpg" style="width : 25%; height : 75%">
        <h3>
          LION KING (PG)
        </h3>
        <h4>The highest grossing movie is back on the big screen with AJCinemas.</h4>
        <h4>Release Date: 19/07/2019 </h4>
        <h2>Viewing Times: [11:00] [13:00] [16:00]</h2>
        <ion-button color="danger" (click)="booktickets()">Pre Order Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\johnwick.jpg" style="width : 25%; height : 75%">
        <h3>
          JOHN WICK: CHAPTER 3 (18+)
        </h3>
        <h4>Release Date: 15/05/2019 </h4>
        <h2>MIDNIGHT LAUNCH: 00:001</h2>
        <ion-button color="danger" (click)="booktickets()">Pre Order Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\aladdin.png" style="width : 25%; height : 75%">
        <h3>
          Aladdin (U)
        </h3>
        <h4>Release Date: 29/05/2019 </h4>
        <h2>Viewing Times: [11:00] [13:00] [16:00]</h2>
        <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
        <br>

</ion-content>