<ion-header>

  <ion-toolbar color="danger">
    <ion-img src="..\assets\icon\ajcinemas.png"></ion-img>
    
    
</ion-toolbar>

</ion-header>

<br>
<br>

<ion-content>
  <ion-img class= "movie1" src="..\assets\icon\capmarvel.jpg"></ion-img>
  <ion-img class= "movie2" src="..\assets\icon\newhope.jpg"></ion-img>
  <ion-img class= "movie3" src="..\assets\icon\shazam.jpg"></ion-img>
  <ion-img class= "movie4" src="..\assets\icon\avatar.jpg"></ion-img>
  <ion-img class= "movie5" src="..\assets\icon\greta.jpg"></ion-img>
  <ion-img class= "movie6" src="..\assets\icon\saw.jpg"></ion-img>
</ion-content>
