ion-img{
    width: 8%;
    height: 8%;
    margin: auto;
    display: block;
}

.movie1{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
    float: left;
}

.movie2{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
    float: right;
}

.movie3{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
    float: right;
}

.movie4{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
    float: right;
}

.movie5{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
    float: right;
}

.movie6{
    width: 50%;
    height: 50%;
    margin: auto;
    display: block;
    float: right;
}


