<ion-header>
    <ion-toolbar color="danger">
        <ion-img src="..\assets\icon\ajcinemas.png"></ion-img>
        <ion-icon name="arrow-back" (click)="dashboard()"></ion-icon>
        
    </ion-toolbar>
</ion-header>

<ion-content>
    <div text-center>
        <h1>Classic Movies</h1>

        <img  src="..\assets\icon\lotr.jpg" style="width : 25%; height : 75%">
        <h3>
          LORD OF THE RINGS: FELLOWSHIP OF THE RING (PG)
        </h3>
        <h4>Back to middle earth for another adventure on the big screen at AJCinemas</h4>
        <h4>Release Date: 19/12/2001 </h4>
        <h4>In AJCinemas: 01/06/2019 </h4>
        <ion-button color="danger" (click)="booktickets()">Pre Book Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\newhope.jpg" style="width : 25%; height : 75%">
        <h3>
          STAR WARS: A NEW HOPE (PG)
        </h3>
        <h4>The Saga Begins. Watch Star Wars A new hope on the big screen again in preparation for episode 9.</h4>
        <h4>Release Date: 26/03/1978 </h4>
        <h2>Viewing Times: [16:50]   [18:10(3D)]   [20:35]</h2>
        <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\starv.jpg" style="width : 25%; height : 75%">
        <h3>
          STAR WARS: EMPIRE STRIKES BACK (PG)
        </h3>
        <h4>Best Star Wars film of all time? Debate 1 more time on the big screen. </h4>
        <h4>Release Date: 17/05/1980 </h4>
        <h4>In AJCinemas: 4/05/2019 May The 4th Be With You </h4>
        <ion-button color="danger" (click)="booktickets()">Pre Book Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\avatar.jpg" style="width : 25%; height : 75%">
        <h3>
          AVATAR (PG)
        </h3>
        <h4>The highest grossing movie is back on the big screen with AJCinemas.</h4>
        <h4>Release Date: 18/12/2009 </h4>
        <h4>In AJCinemas: NOW SHOWING </h4>
        <h2>Viewing Times: [14:05]   [15:50(3D)]   [17:30]</h2>
        <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\matrix.jpg" style="width : 25%; height : 75%">
        <h3>
          MATRIX (PG)
        </h3>
        <h4>Red or Blue Pill, You decide. The Matrix is back on the big screen with AJCinemas</h4>
        <h4>Release Date: 11/06/1999 </h4>
        <h4>In AJCinemas: 30/04/2019 </h4>
        <ion-button color="danger" (click)="booktickets()">Pre Book Tickets</ion-button>
        <br> <br>
      
        <img  src="..\assets\icon\saw.jpg" style="width : 25%; height : 75%">
        <h3>
          SAW (18+)
        </h3>
        <h4>Wanna Play A Game ? JigSaw is back on the big screen. How much does life mean to you?</h4>
        <h4>Release Date: 01/10/2004 </h4>
        <h2>Viewing Times: [19:40]   [20:30(3D)]   [22:00]   [23:30]</h2>
        <ion-button color="danger" (click)="booktickets()">Book Tickets</ion-button>
        <br>
    </div>
</ion-content>
