ion-img{
    width: 8%;
    height: 8%;
    margin: auto;
    display: block;
}
ion-content{

    --ion-background-color:black;
}

ion-item{
    color: white;
}

ion-list-header{
    color: red;
    font-size: 150%;
}