<ion-header>
  <ion-toolbar color="danger">
      <ion-img src="..\assets\icon\ajcinemas.png"></ion-img>
      <ion-icon name="arrow-back" (click)="dashboard()"></ion-icon>
      
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <ion-list>
      <ion-list-header>
        Seats Booked!
      </ion-list-header>
      <ion-item *ngFor="let booking of bookingList$ | async"
      detail-push navPush="editbookingsPage">
        Seat No.{{booking.Seat}}
        /  Title:{{booking.Movie}}
        /  Time:{{booking.Time}}
      </ion-item>
    </ion-list>
  </div>
 
</ion-content>
