<ion-header>
    <ion-toolbar color="danger">
      <ion-img src="..\assets\icon\ajcinemas.png"></ion-img>
      
  </ion-toolbar>
</ion-header>


  <ion-content>

    <ion-grid>
      <ion-row>
        <ion-col text-center>
          Your Logged In as : {{userEmail}}
        </ion-col>
      </ion-row>
    </ion-grid> 

  
        <ion-button (click)="timetable()" expand="block">Movie Timetable</ion-button>
        <ion-button (click)="booktickets()" expand="block">Book Tickets</ion-button>
        <ion-button (click)="classic()" expand="block">Classic Movies</ion-button>



        <ion-button (click)="logout()" expand="block">Log Out</ion-button>

  

  </ion-content>