ion-img{
    width: 8%;
    height: 8%;
    margin: auto;
    display: block;
}

ion-content{

    --ion-background-color:black;
}

ion-label{
    color: white;
}

ion-input{
    color: white;
}

ion-item{
    color: white;
}

ion-card-title{
    color: white;
}

ion-card-subtitle{
    color: white;
}